<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>correct essay</title>
    <style>
        .color{
            width: 20px;
            height: 20px;
            border: 1px solid;
            margin-right: 2px;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1 id="essayTitle" th:if="${xiaozuowen=='false'}" th:text="${essay.titleName}"></h1>
<div th:if="${xiaozuowen=='true'}">
    <h1 id="essayTitle1" th:if="${!#strings.isEmpty(essay.titleName)}"
        th:text="${essay.titleName}"></h1>
    <img th:src="@{/showImg}" style="height: 250px;" alt="title">
</div>
<div id="content" style="width: 60%;float: left;height: 300px;border: 1px solid"
     th:utext="${essay.essayContent}">
</div>
<input type="hidden" id="essayNumber" th:value="${index}"/>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/student/correct.js}"></script>
</html>