<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传文章</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<button id="chooseTitle" class="btn-primary">选择题目</button>
<input type="hidden" id="titleName"/>
<input type="hidden" id="titleCode"/>
<h3 id="selectTitle"></h3>
<div id="uploadArea" style="display: none;">
    <input type="file" name="essayFile" id="myFile1" accept="image/jpg,image/jpeg,image/png,image/PNG"/>
    <button type="button" id="uploadEssay" class="btn-primary">上传</button>
</div>
<div id='show' style="width: 200px;height: 200px;"></div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">题目选择</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="title"></label><input type="text" placeholder="题目" class="form-control"
                                                  id="title" list="title_list" autocomplete="off"/>
                <!-- 选择内容 -->
                <datalist id="title_list">
                </datalist>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTitle1()">Save title</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/exif.js}"></script>
<script type="text/javascript" th:src="@{js/student/image.js}"></script>
<script type="text/javascript" th:src="@{js/student/student.js}"></script>
</html>