<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id='container'>
    <img th:src="@{images/ocr.jpg}" alt="" id='tank'>
</div>
</body>
<script>
    container.style="width:200px;height:200px;border:3px solid;";
    tank.style="width:200px;height:200px;position:relative;top:0px;left:0px;"
    document.body.onkeydown=function(){
        let current = 0;
        const code = event.keyCode;
        if(code == 37) {
            current = 180;
            tank.style.transform = 'rotate('+current+'deg)';
        }
        if(code == 38) {
            current =270;
            tank.style.transform = 'rotate('+current+'deg)';
        }
        if(code == 39) {
            current = 0;
            tank.style.transform = 'rotate('+current+'deg)';
        }
        if(code == 40) {
            current = 90;
            tank.style.transform = 'rotate('+current+'deg)';
        }
    }
</script>
</html>