<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生首页</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body id="changeBody">
<a th:href="@{/stuWrite}" class="btn btn-primary">写作</a>
<label th:text="'剩余批改数:'+${session.loginUser.surplus}"></label>
<!--<a th:href="@{/stuUpload}" class="btn btn-primary">上传</a>-->
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>作文名</th>
        <th>状态</th>
        <th>版本</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="essay,loopStatus : ${essays}">
        <!--/*@thymesVar id="essay" type="com.test.domain.Essay"*/-->
        <td th:text="${loopStatus.count}"></td>
        <td th:text="${essay.titleName}"></td>
        <td th:switch="${essay.status}">
            <p th:case="1">外教修改</p>
            <p th:case="2">中教修改</p>
            <p th:case="3">已完成</p>
        </td>
        <td th:text="${essay.versions}"></td>
        <td>
            <!--th:onclick="updateEssay([[${essay.name}]],[[${essay.student.name}]],[[${essay.versions}]])"-->
            <a type="button" class="btn btn-info btn-sm"
                th:href="@{/checkessay(essayName=${essay.name},stuName=${essay.student.name},versions=${essay.versions})}"
                    >
                查看
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!--当无记录时显示-->
<span style="margin-left: 45%;color: red;" th:if="${#lists.isEmpty(essays)}">暂无记录!</span>
</body>
<script type="text/javascript" th:src="@{js/student/stuIndex.js}"></script>
</html>