<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生首页</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body id="changeBody">
<a th:href="@{/stuWrite}" class="btn btn-primary">写作</a>
<a th:href="@{/stuUpload}" class="btn btn-primary">上传</a>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>作文名</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="essay,loopStatus : ${essays}">
        <!--/*@thymesVar id="essay" type="com.test.domain.Essay"*/-->
        <td th:text="${loopStatus.count}"></td>
        <td th:text="${essay.title.getTitleName()}"></td>
        <td th:text="${essay.status}"></td>
        <td>
            <button type="button" class="btn btn-info btn-sm"
                    th:onclick="updateEssay([[${essay.name}]],[[${essay.student.name}]])">
                查看
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script>
    function updateEssay(essayName, stuName) {
        $.ajax({
            url: '/stucheck',
            type: 'get',
            data: {essayName: essayName, stuName: stuName},
            dataType: 'html',
            success: function (data) {
                $("#changeBody").html(data);
            }
        })
    }
</script>
</html>