<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>check essay</title>
<!--    <script type="text/javascript" src="jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1 th:inline="text">查看批改</h1>
<button onclick="window.history.go(-1)" class="btn-primary">返回</button><br><br>
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=1','width=1200px;height=800px;');">查看1 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=2','width=1200px;height=800px;');">查看2 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=3','width=1200px;height=800px;');">查看3 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=4','width=1200px;height=800px;');">查看4 </a>-->
<a href="#" onclick="openCheck(1)" class="btn btn-primary">Task Achievement</a>
<a href="#" onclick="openCheck(2)" class="btn btn-primary">Coherence and Cohesion</a>
<a href="#" onclick="openCheck(3)" class="btn btn-primary">Grammatical Range and Accuracy</a>
<a href="#" onclick="openCheck(4)" class="btn btn-primary">Lexical Resource</a>
<br><br>
<div id="checkContent">

</div>
<label id="contentLabel" style="width: 100%;display: none;" for="content" th:if="${session.versions==1}">
<textarea id="content" class="form-control" rows="12" style="width: 70%" wrap="hard">

</textarea>
</label>
<br>
<button onclick="checkAgain(2)" id="check1" th:if="${session.versions==1}" style="display: none;" class="btn-primary">二次批改</button>
<button onclick="openText()" id="check2" th:if="${session.versions==1}" class="btn-primary">二次编辑</button>
<button onclick="checkAgain(3)" th:if="${session.versions!=3}" class="btn-primary">批改完成</button>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootbox.min.js}"></script>
<script type="text/javascript" th:src="@{js/student/stuCheck.js}"></script>
</html>
