<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学生写作</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <!--     	<script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>-->
    <style>
        #count {
            width: 200px;
            height: 150px;
            line-height: 150px;
            margin: auto;
            font-size: 40px;
        }
    </style>
</head>
<body>
<h1 th:inline="text">学生写作</h1>
<button id="controlWrite" class="btn-primary">开始写作</button>
<br>
<h3 style="margin-left: 45%" id="selectTitle"></h3>
<div id="count">
    <span id="id_H">00</span>
    <span id="id_M">00</span>
    <span id="id_S">00</span>
</div>
<form th:action="@{/saveWrite}" role="form" method="post" id="writeArea" style="display: none;">
    <input type="hidden" id="titleName" name="titleName"/>
    <input type="hidden" id="titleCode" name="titleCode"/>
    <textarea name="content" class="form-control" rows="16" wrap="hard">
    </textarea>
    <br/>
    <button type="submit" class="btn-primary btn-block">提 交</button>
</form>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">题目选择</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="title"></label><input type="text" placeholder="题目" class="form-control"
                                                  id="title" list="title_list" autocomplete="off"/>
                <!-- 选择内容 -->
                <datalist id="title_list">
                </datalist>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTitle()">Save title</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{js/student/student.js}"></script>
<script th:src="@{js/bootbox.min.js}"></script>
</html>
