<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学生写作</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/fileinput/fileinput.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/fileinput/fileinput.min.js}"></script>
    <style>
        #count {
            width: 400px;
            height: 30px;
            line-height: 30px;
            font-size: 25px;
        }
    </style>
</head>
<body>
<h1 th:inline="text">学生写作</h1>
<button id="controlWrite" class="btn-primary btn-lg">开始写作</button>
<br>
<form th:action="@{/saveWrite}" role="form" enctype="multipart/form-data" method="post" id="writeArea"
      style="display: none;">
    <div id="count" style="margin-bottom: 8px;margin-top: 8px;">
        用时:<span id="id_H">00</span>小时
        <span id="id_M">00</span>分
        <span id="id_S">00</span>秒
        单词数:<span id="wordCount">0</span>字
    </div>
    <!--    <button class="btn-primary" type="button" data-toggle="modal" data-target="#titleModal">选择题目</button>-->
    <label for="titleName">输入作文题目：(请使用英文在此输入作文题目或上传题目图片或选择题目)</label><br>
        <textarea id="titleName" name="titleName" style="width: 500px;resize: none;">
        </textarea>
    <br>
    <button type="button" class="btn-primary" onclick="showFileUpload()">上传题目</button>
    <div id="uploadTitleArea" style="display: none;">
        <input type="file" class="file" name="titleImage" id="myFile1"
               accept="image/jpg,image/jpeg,image/png,image/PNG"/>
    </div>
    <!--    <div style="margin-left: 20px;">-->
    <!--        <img src="" id="preview_img" width="300px" height="200px" alt="">-->
    <!--    </div>-->
    <label for="inputContent">写作文：</label>
    <textarea name="content" id="inputContent" style="width: 70%;" onkeyup="wordStatic(this)" class="form-control" rows="12" wrap="hard">
    </textarea>
    <p>选择教师批改：</p>
    <div class="card" th:each="teacher,loopStatus : ${teachers}" style="width: 10rem;float: left;margin-bottom: 8px;">
        <p th:text="${teacher.name}"></p>
        <img th:src="${(teacher.avatar != null && !#strings.isEmpty(teacher.avatar)) ? '/images/avatar/'+teacher.avatar : '/images/avatar/avatar.png'}"
             style="width: 155px;height: 92px;" class="card-img-top" alt="avatar">
        <label style="margin: auto;">
            <input type="radio" th:checked="${loopStatus.count}==1?true:false"
                   name="teacherId"  th:value="${teacher.id}"/>
        </label>
    </div>
    <button type="submit" class="btn-primary btn-block">提 交</button>
</form>

<div class="modal" tabindex="-1" id="titleModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">题目选择</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="title"></label><input type="text" placeholder="题目" class="form-control"
                                                  id="title" list="title_list" autocomplete="off"/>
                <!-- 选择内容 -->
                <datalist id="title_list">
                </datalist>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveTitle()">Save title</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{js/student/student.js}"></script>
<script th:src="@{js/bootbox.min.js}"></script>
</html>
