<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户列表</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{css/dashboard.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
            <h2><a th:href="@{/addUser}" class="btn btn-sm btn-success">添加员工</a></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>phone</th>
                        <th>email</th>
                        <th>role</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user,loopStatus : ${users}">
                        <td th:text="${loopStatus.count}"></td>
                        <td>[[${user.name}]]</td>
                        <td th:text="${user.phone}">ipsum</td>
                        <td th:text="${user.email}">ipsum</td>
<!--                        <td th:text="${emp.info.sex} ? 'female':'male'">dolor</td>-->
                        <td th:text="${user.role}">sit</td>
                        <td>
                            <a class="btn btn-sm btn-primary" th:href="@{/user/}+${user.id}">修改</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:switch="${pages.isHasPreviousPage()}">
                        <a th:case="false"></a>
                        <a th:case="true" class="page-link" href="#"
                                             th:onclick="|javascript:search11('${pages.prePage}')|">Previous</a></li>
                    <li th:each="i:${#numbers.sequence(1,pages.pages)}">
                        <a class="page-link" href="#" th:onclick="|javascript:search11('${i}')|" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:switch="${pages.isHasNextPage()}">
                        <a th:case="false"></a>
                        <a th:case="true" class="page-link" href="#"
                                             th:onclick="|javascript:search11('${pages.nextPage}')|">Next</a></li>
                </ul>
            </nav>
        </main>
        <form method="post" id="deleteForm">
            <input type="hidden" name="_method" value="delete"/>
        </form>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" th:src="@{js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

<!-- Icons -->
<script type="text/javascript" th:src="@{js/feather.min.js}"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script type="text/javascript" th:src="@{js/Chart.min.js}"></script>
<script type="text/javascript">
    $(".delemp").click(function () {
        var attr = $(this).attr("del_emp");
        $("#deleteForm").attr('action', attr).submit();
    })

    function search11(nowPage) {
        window.location.href="http://localhost:8080/emps?pages="+nowPage;

    }
</script>

</body>

</html>