<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>老师批改</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}">
</head>
<body>
<a th:href="@{/choosedone}" class="btn btn-primary">已完成</a>
<!--显示的数据-->
<table id="data" style="margin-top: 6px;" class="table table-bordered table-hover"></table>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/js/teacher/teacherIndex.js}"></script>
</html>
