<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>老师批改</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <!-- <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script> -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<h1 th:inline="text">老师批改</h1>
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=1','width=1200px;height=800px;');">开始批改1 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=2','width=1200px;height=800px;');">开始批改2 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=3','width=1200px;height=800px;');">开始批改3 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word?index=4','width=1200px;height=800px;');">开始批改4 </a>-->
<a th:href="@{/correct/1}" class="btn btn-primary">Task Achievement</a>
<a th:href="@{/correct/2}" class="btn btn-primary">Coherence and Cohesion</a>
<a th:href="@{/correct/3}" class="btn btn-primary">Grammatical Range and Accuracy</a>
<a th:href="@{/correct/4}" class="btn btn-primary">Lexical Resource</a>
<br/>
<button onclick="pgdone()" style="margin-top: 6px;" class="btn-primary">批改完成</button>
</body>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootbox.min.js}"></script>
<script>
    function pgdone() {
        bootbox.confirm("确定提交该篇文章到下一个流程吗？", function (result) {
            if (result){
                $.ajax({
                    url: '/essay',
                    type: 'post',
                    data: {_method:'put'},
                    success: function (data) {
                        window.location.href="/choose";
                    }
                });
            }
        });
    }
</script>
</html>
