<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{fonts/iconic/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
</head>

<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" th:action="@{/login}" onsubmit="return doSubmit()" method="post">
                <span class="login100-form-title p-b-49">登录</span>
                <p style="color: red;text-align: center;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                    <span class="label-input100">用户名</span>
                    <input class="input100" type="text" name="phone" placeholder="请输入用户名" autocomplete="off">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="请输入密码">
                    <span class="label-input100">密码</span>
                    <input class="input100" type="password" name="password" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="请输入验证码">
                    <span class="label-input100">验证码</span>
                    <input class="input100" type="text" name="verifyCodeActual" placeholder="请输入验证码" autocomplete="off">
                    <span class="focus-input100" data-symbol="&#xf233;"></span>
                </div>
                <img id="captcha_img" alt="点击更换" title="点击更换"
                     onclick="refresh()" th:src="@{/kaptcha}" />
                <div class="text-right p-t-8 p-b-31">
                    <!--<a href="javascript:">忘记密码？</a>-->
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{js/jquery-1.9.1.min.js}"></script>
<script th:src="@{js/login.js}"></script>
</body>

</html>